<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ir.khabarefori"
          android:versionCode="8"
          android:versionName="1.5"
          android:installLocation="internalOnly"
          android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
        >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <uses-sdk android:minSdkVersion="8"
              android:targetSdkVersion="19"
              android:maxSdkVersion="19"/>

    <application
            android:name=".ApplicationContextProvider"
            android:label="@string/app_name"
            android:icon="@drawable/logo_circle"
            android:debuggable="true"
            android:allowBackup="true">

        <activity
                android:name="SplashScreenActivity"
                android:label="Khabarefori"
                android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="MyActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>

        <activity android:name="TutorialActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <receiver android:name="ir.khabarefori.widget.WidgetActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="ir.khabarefori.layout.widget.txtNews"/>
            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/widget_provider"/>
        </receiver>

        <receiver android:name="ir.khabarefori.service.AutoStart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
                android:name=".service.ServiceCheckServer"
                android:icon="@drawable/logo_circle"
                android:label="@string/service_name"
                android:enabled="true"/>
    </application>
</manifest>
